doctype html
html(lang="en")
	head
		title InstaCool
		link(rel="stylesheet", href="/static/css/main.css")
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Amatic+SC|Muli', type='text/css')
		script(src="https://use.fontawesome.com/58f42e8f0d.js")
	body
		form.small(action="/", method="POST")
			h1 InstaCool
			i.fa.fa-heart.fa-lg(id="heart1")
			i.fa.fa-heart(id="heart2")
			i.fa.fa-heart(id="heart3")
			img.profilepic(src="http://res.cloudinary.com/av11/image/upload/v1465675999/milky-way-rocks-night-landscape_p2fzru.jpg")
			label(for="search")
			input(type="text", placeholder="Enter username here", id="userName", name="userName")
			input.button(type="submit", value="search")